.skeletonNFTCard {
  position: relative;
  width: 329px;
  height: 489px;
  border-radius: 18px;
  overflow: hidden;
  background: #404040;

  :global {
    .buttonVoid {
      position: absolute;
      right: 16px;
      bottom: 62px;
      width: 79px;
      height: 30px;
      border-radius: 99px;
      background: #595959;
    }
  }
}