//기본값 사용(테마)
.twenty-px:global(.p-radiobutton){

}

.sixteen-px:global(.p-radiobutton) {
  width: 1rem;
  height: 1rem;

  :global{
    .p-radiobutton-box{
      width: 1rem;
      height: 1rem;
      .p-radiobutton-icon{
        width:0.625rem;
        height:0.625rem;
      }
    }
  }
}
