.footerMenu {
  display: flex;
  width: 1100px;
  :global {
    h1 {
      width: 100px;
      height: 24px;
      margin-right: auto;
      font-size:0;
      text-indent:-9999px;
      overflow:hidden;
      background: var(--color-808080);
      mask: url(/assets/images/platpome/logo-pomerium-x.svg) no-repeat;
      mask-size: 100%;
    }
    .menus {
      display: flex;
      gap: 40px;
      margin-left: auto;
      font-size: 14px;
      font-weight: 400;
      dl {
        color: var(--color-808080);
        dt {
          margin-bottom: 18px;
          font-weight: 600;
        }
        dd {
          margin-bottom: 6px;
        }
      }
    }
  }
}
