
.p-inputswitch {
    width: 2.25rem;
    height: 1.25rem;
}
.p-inputswitch .p-inputswitch-slider {
    background: #E6E6E6;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
}
.p-inputswitch .p-inputswitch-slider:before {
    background: #FFFFFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
    width: 1rem;
    height: 1rem;
    /*left: 2px;*/
    left:0.125rem;
    /*margin-right:0.125rem;*/

    margin-top: -0.5rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(17px);
}
.p-inputswitch.p-focus .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    /*box-shadow: 0 0 0 0.2rem #C7D2FE;*/
}
.p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
    background: #b6bfc8;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #934FF7;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: #ffffff;
    left:0;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background: #934FF7;
}
.p-inputswitch.p-invalid {
    border-color: #e24c4c;
}
