/*.p-tooltip-arrow {*/
/*    display: none;*/
/*}*/

.p-tooltip {
    z-index: 999;
    border-radius: 0.125rem;
    background: #4D4D4D;
    padding:0 !important;
}

.p-tooltip .p-tooltip-text {
    color: #F2F2F2;
    /* Body/B6_01 */
    font-family: Pretendard;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0.125rem 0.375rem !important;

}
