.walletCard {
  width: 305px;
  height: 156px;
  border-radius: 8px;
  &:global(.connect) {
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 600;
      color: var(--color-f2f2f2);
      background: var(--color-404040);
      &:hover {
        :global {
          .connectWallet {
            .tip {
              display: flex;
            }
          }
        }
      }
    }
    :global {
      .connectWallet {
        &:after {
          width: 20px;
          height: 20px;
          background: var(--color-f2f2f2);
        }
        .tip {
          top: 28px;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
  &:not(:global(.connect)) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 12px;
    :global {
      .title {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        font-family: Orbitron;
        color: var(--color-262626);
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        margin-top: auto;
        .sign {
          display: flex;
          align-items: center;
          gap: 4px;
          width: fit-content;
          height: 20px;
          padding: 0 8px;
          border-radius: 99px;
          margin-left: auto;
          font-size: 12px;
          color: var(--color-f2f2f2);
          background: #45d800;
          &:before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 99px;
            background: var(--color-f2f2f2);
          }
        }
        dl {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 12px;
          border-radius: 8px;
          background: rgba(0, 0, 0, 0.4);
          dt {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            color: var(--color-ccc);
            &:before {
              content: '';
              display: block;
              width: 12px;
              height: 12px;
              margin-right: 4px;
              background: var(--color-ccc);
              mask: url(/assets/images/icons/icon-wallet-fill.svg) no-repeat
                center center / contain;
            }
          }
          dd {
            .addressCopySet {
              width: 100%;
              height: auto;
              padding: 0;
              background: none;
              .address {
                width: 100%;
                margin: 0;
                color: var(--color-white);
              }
              .copy {
                width: 16px;
                height: 16px;
                background: var(--color-white);
                mask-size: contain;
              }
            }
          }
        }
      } //.bottom
    }
  } // &:not(:global(.connect))
  &:global(.metamask) {
    background: var(
      --gra-external-card-gra,
      linear-gradient(275deg, #bfbfbf 0%, #ececec 100%)
    );
  } // &:global(.metamask)
}
